---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    <header class="mb-auto">
    <nav class="nav justify-content-center float-right">
        <div class="nav-link">

          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="theme-toggle">
            <label class="custom-control-label" for="theme-toggle">Dark Mode</label>
          </div>

          <script src="/assets/scripts/mode-switcher.js"></script>

        </div>
    </nav>
    </header>
    
  </body>
</html>
